@keyframes scrollHint {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.scrollHintAnimation {
  animation: scrollHint 2s ease-in-out infinite;
}
